<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="Stylesheet" href="static/css/main.css">
    <title> EJEMPLO DE GRAFICOS</title>

</head>
<body>

    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="index2" role="button" aria-expanded="false" aria-controls="collapseExample">
            Link  to index2
        </a>
        <a class="btn btn-primary" data-toggle="collapse" href="home" role="button" aria-expanded="false" aria-controls="collapseExample2">
            Link to home
        </a>
        </a>
        <a class="btn btn-primary" data-toggle="collapse" href="bar" role="button" aria-expanded="false" aria-controls="collapseExample3">
            Link to bar
        </a>
    </p>



    <h2> GRAFICOS TEST </h2>
    <div align="center" width="20" height="10" overflow="auto">
        <p>Bar Chart</p>
        <object type="image/svg+xml" data="{{image_url}}" height="500" width="1000" align="center">
            Your browser does not support SVG
        </object>
    </div>

</body>
</html>